In [41]:
df = pd.read_csv('finally.csv')
df

             Hero
0           Mercy
1           Hanzo
2           Genji
3      Widowmaker
4           Hanzo
5          Tracer
6           Genji
7      Widowmaker
8            D.Va
9          Sombra
10          Hanzo
11          Zarya
12       Doomfist
13       Doomfist
14     Widowmaker
15      Reinhardt
16          Genji
17         McCree
18          Genji
19     Widowmaker
20        Roadhog
21        Roadhog
22         Pharah
23          Lúcio
24          Moira
25        Junkrat
26       Brigitte
27      Reinhardt
28         McCree
29           Ashe
30     Widowmaker
31            Ana
32          Orisa
33            Mei
34  Wrecking Ball
35          Hanzo
36          Lúcio
37         Pharah
38          Genji
39        Roadhog
40       Doomfist
41     Widowmaker
42           D.Va
43     Widowmaker
44          Zarya
45          Lúcio
46     Widowmaker
47         Reaper
48          Hanzo
49          Mercy

In [2]:
import pandas as pd

In [17]:
df = pd.read_csv('test_hero2.csv')

In [18]:
df

     Hero
0       H
1       a
2       n
3       z
4       o
5    Hero
6       H
7       a
8       n
9       z
10      o
11   Hero
12      H
13      a
14      n
15      z
16      o
17   Hero
18  Hanzo